/* Estilos para que carrito se adapte a distintas pantallas */
@media (max-width: 768px) {
  .contenedorTextoCarrito {
    padding: 15px; /* Reduce el padding en pantallas pequeñas */
    font-size: 1.2rem; /* Reduce el tamaño del texto */
  }

  table {
    font-size: 14px; /* Reduce el tamaño de fuente */
  }

  td img {
    width: 40px; /* Reduce el tamaño de las imágenes */
  }
}

@media (max-width: 480px) {
  table {
    font-size: 12px; /* Texto más pequeño en pantallas muy pequeñas */
  }

  td img {
    width: 30px; /* Imágenes más pequeñas */
  }

  .contenedorTextoCarrito {
    font-size: 1rem; /* Texto más pequeño en pantallas muy pequeñas */
    padding: 10px; /* Espaciado interno reducido */
  }
}

.finalizarCompra {
  /*Margenes*/
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; /*Ancho*/
  background-color: rgb(255, 255, 255);
  display: flex;
}
.entrega {
  width: 45%;
  background-color: rgb(255, 255, 255);
}

.precio h3,
p,
button {
  font-size: 19px;
}

#btnFinalizarCompra {
  width: 100%;
  background-color: black;
  color: #f0f0f0;
}

/*DetalleCompra*/

.contenedorDetalleCarrito {
  width: 90%;
  height: 300px;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #ffffff;
  border-top: solid black 2px;
  display: flex;
}

.contenedorEntrega {
  width: 50%;
  background-color: #ffffff;
}

.textoEnvio {
  color: #707070;
}

.titulosCarrito {
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contenedorResumen {
  background-color: #ffffff;
  width: 50%;
}

.contenedorItemResumen {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contenedorBotonesCompra {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente (si el contenedor tiene altura) */
  gap: 10px; /* Espacio entre botones */
}

.contenedorBotonesCompra button {
  display: block;
  width: 250px;
}

/*Estilos para que detalle carrito se adapte a distintas pantallas*/
@media (max-width: 768px) {
  .contenedorDetalleCarrito {
    flex-direction: column;
    height: 100%;
    margin-bottom: 5%;
  }

  .contenedorEntrega {
    width: 90%;
  }

  .contenedorResumen {
    width: 100%;
  }
}

