.header {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-bottom: 1px solid #757575;
}
.header .contenedorLogo {
  width: 15%;
  height: auto;
  background-color: antiquewhite;
}
.header .contenedorLogo img {
  width: 100%;
  height: 100%;
}
.header .contenedorUsuario {
  width: 30%;
  background-color: rgb(255, 255, 255);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .contenedorUsuario img {
  width: 25px;
  margin-left: 4%;
  margin-right: 5%;
}
.header .contenedorBuscador {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #ffffff;
  width: 100%;
  gap: 10px;
}
.header .contenedorBuscador .text-input {
  width: 50%;
  margin-left: 5%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #0255c2;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
.header .contenedorBuscador .text-input:focus {
  border-color: #007bff;
}
.header .contenedorBuscador .submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header .contenedorBuscador .submit-button:hover {
  background-color: #0056b3;
}
.header .contenedorBuscador .submit-button:active {
  background-color: #003d80;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    background-color: rgb(255, 255, 254);
  }
  .header .contenedorLogo {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
  }
  .header .contenedorLogo img {
    width: 100%;
    height: 100%;
  }
  .header .contenedorUsuario {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header .contenedorUsuario img {
    width: 25px;
    margin-left: 4%;
  }
  .header .contenedorBuscador {
    width: 100%;
    justify-content: center;
  }
  /*-------------------------------Categoria-----------------------------------------*/
  .menu {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  .contenedorCategorias .menu a,
  .menu button {
    flex: 1 1 45%; /* Dos por fila */
  }
  .menu > * {
    flex: none;
    width: 100%; /* Ocupan todo el ancho disponible */
  }
}
.contenedorCategorias {
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.contenedorCategorias .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(255, 255, 255);
  width: 80%;
  gap: 10px;
  flex-wrap: wrap;
}
.contenedorCategorias .menu > * {
  flex: 1;
  text-align: center;
}
.contenedorCategorias .menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contenedorCategorias .menu a:hover {
  color: #007bff;
}
.contenedorCategorias .menu button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(16, 47, 226);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.contenedorCategorias .menu button:hover {
  background-color: #002752;
  color: beige;
}

/*# sourceMappingURL=style.css.map */
