/*Estilo general*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Estilo Fuente*/
a{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*----------------------------------------------------Estilo encabezado--------------------------------------------*/
.header {
  width: 100%;
  height: 100px;
  background-color: aqua;
  display: flex;
}

.contenedorLogo {
  width: 15%;
  height: auto;
  background-color: antiquewhite;
}

.contenedorLogo img {
  width: 100%;
  height: 100%;
}

.contenedorUsuario {
  width: 30%;
  background-color: rgb(255, 255, 255);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.contenedorUsuario img{
  margin-left: 4%;
  margin-right: 5%;
}

.contenedorUsuario img {
  width: 25px;
}

/*Buscador*/
.contenedorBuscador {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #ffffff;
  width: 100%;
  gap: 10px; /* Espacio entre el campo y el botón */
}

.text-input {
  width: 50%;
  margin-left: 5%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #0255c2;
  border-radius: 5px;

  outline: none;
  transition: border-color 0.3s ease;
}

.text-input:focus {
  border-color: #007bff;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:active {
  background-color: #003d80;
}

/* Estilo categorías */
.contenedorCategorias {
  margin-top: 3%;
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(255, 255, 255);
  width: 80%;
  gap: 10px;
  flex-wrap: wrap;
}

.menu > * {
  flex: 1;
  text-align: center;
}

/* Estilos para los enlaces */
.menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: #007bff;
}

/* Estilos para el botón */
.menu button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(16, 47, 226);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.menu button:hover {
  background-color: #002752;
  color: beige;
}

/*---------------------------------------Responsive Media header------------------------------------------*/
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .contenedorLogo {
    width: 100%;
    height: auto;
  }

  .contenedorUsuario {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .contenedorBuscador {
    width: 100%;
    justify-content: center;
  }

  .menu {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .contenedorCategorias .menu a,
  .menu button {
    flex: 1 1 45%; /* Dos por fila */
  }

  .menu > * {
    flex: none;
    width: 100%; /* Ocupan todo el ancho disponible */
  }
}

/*---------------------------------------BANNER------------------------------------------------------*/
.contenedorBanner{
    width: 90%;
    display: flex;
    margin-left: 5%;
}

.contenedorBanner img{
    width: 100%;
}

/*Banner responsive*/

@media(max-width: 768px){
    .contenedorBanner {
        width: 100%;
        margin-left: 0%;
    }
}

/*Marcas*/

.contenedorMarcas{  
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 55;
    display: flex;
    justify-content: space-around

}

.contenedorMarcas img{
    width: 15%;
    height: 60px;
}