/*Estilo global*/
* {
  padding: 0%;
  margin: 0%;
}




/*Estilo para Header*/
.header {
  width: 100%;
  height: 30%;
  background-color: blue;
}

/*Estilo top bar*/
.topBar {
  width: 100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}

/*Estilo para contenedor de logo en topBar*/
.topBarLeft {
  width: 5%;
  height: 5%;
  background-color: rgb(250, 255, 255);
}
/*Estilo para logo en topBar*/
.topBarLeft img {
  width: 100%;
  height: 100%;
}

.topBarRight {
  width: 6%;
  height: 10%;
  background-color: rgb(253, 253, 253);
  display: flex;
  align-items: center;
}

.topBarRight img {
  width: 10px;
  height: 35%;
}

/*Estilo para encabezado*/
.encabezado {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.encabezado .contenedorLogo {
  width: 20%;
  height: 40%;
  background-color: rgb(255, 255, 255);
}

.encabezado .contenedorLogo img {
  width: 100%;
}

.contenedorBuscador {
  width: 40%;
  margin-right: 6%;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.contenedorFavoritos {
  width: 15%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.contenedorFavoritos img {
  width: 10%;
}

.contenedorPerfil {
  width: 15%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.contenedorPerfil img {
  width: 10%;
}

/*Estilo Categoria*/
.contenedorCategorias {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu {
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin-left: 15;
  display: flex;
}

.menu a {
  margin-right: 15%;
  font-family: "Arial", sans-serif; 
  font-size: 16px; 
  line-height: 1.6; 
  color: #333;
  margin-bottom: 15px; 
  text-align: justify; 
}

/*Estilo banner promo*/
.promo {
  margin-top: 3%;
  width: 100%;
}

.promo img {
  width: 100%;
  height: 400px;
}

/*Estilo para marcas*/
.contenedorMarcas {
  margin-top: 3%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.contenedorTexto {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid gray;
  margin-left: 12%;
}

.contenedorImagenesMarcas {
  margin-top: 3%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
}

.contenedorImagenesMarcas img {
  width: 15%;
  margin: 30px;
  height: 120px;
}

/*Estilo nuevos lanzamientos*/
.contenedorNuevosLanzamientos {
  margin-top: 5%;
  display: flex;
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
  margin-right: 5%;
}

.contenedorNuevosLanzamientos div {
  margin-right: 10%;
}

.nuevosLanzamientos p {
  margin-top: 10%;
}

/*Estilo pie de pagina*/
.pieDePagina {
  margin-top: 3%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  border: 1px solid black;
}

.contenedorLogoPieDePagina {
  width: 25%;
}

.contenedorLogoPieDePagina img {
  width: 100%;
}

.contenedorInformación {
  margin-top: 1%;
  width: 25%;
  background-color: rgb(255, 255, 255);
}

.contenedorAyuda {
  margin-top: 1%;
  width: 25%;
  background-color: rgb(255, 255, 255);
}

p.pesado {
  font-weight: bolder;
  font-family: "Arial", sans-serif; 
  font-size: 28px; 
}

.contenedorInformación li {
  margin-top: 5%;
}

.contenedorAyuda li {
  margin-top: 5%;
}

.contenedorRedSocial {
  margin-top: 1%;
  width: 25%;
  background-color: rgb(255, 255, 255);
}

.contenedorRedSocial img {
  margin-top: 5%;
  width: 10%;
}

.copyright{
  background-color: #686767;
}

/*Estilo para producto.html*/
.producto {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.contenedorImagenesProducto {
  width: 15%;
  background-color: #ffffff;
}
.contenedorImagenesProducto img {
  width: 100%;
}

.contenedorImagenPrincipal {
  margin-top: 5%;
  margin-left: 5%;
  width: 35%;
  background-color: rgb(255, 255, 255);
}

.contenedorImagenPrincipal img {
  width: 100%;
}

/*Estilos para detalles del producto*/

.detallesProducto {
  margin-top: 8%;
}
.detallesProducto p {
  margin-bottom: 3%;
}

.numeric-stepper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.stepper-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 10x;
}
.stepper-input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
}

.contenedorTalles {
  display: flex;
}

.contenedorTalles p {
  margin-right: 10%;
}

/*Estilo para promociones*/

.contenedorPromociones {
  display: flex;
}

.contenedorPromociones img {
  width: 10%;
}

.contenedorTexto {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid gray;
  margin-left: 12%;
}

/*Estilos para productos relacionados*/
.contenedorProductosRelacionados {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.itemRelacionado {
  margin-right: 5%;
}

/*Estilo carrito de compras*/
.encabezadoCarrito {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(117, 117, 117);
  margin-bottom: 3%;
}

.encabezadoCarrito .contenedorLogo {
  width: 20%;
  height: 40%;
  background-color: rgb(255, 255, 255);
}

.encabezadoCarrito .contenedorLogo img {
  width: 100%;
}

.carritoDeCompras {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: darkgrey;
}

.carritoDeCompras p {
  font-size: 20px;
}

/*Estilo para tabla de carrito de compras*/
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}

td img {
  width: 15%;
}

.finalizarCompra {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.entrega {
  width: 45%;
  background-color: rgb(255, 255, 255);
}

.precio h3,
p,
button {
  font-size: 19px;
}

#btnFinalizarCompra{
  width: 100%;
  background-color: black;
  color: #f0f0f0;
}

/*--------------------Estilo para Login*----------------------------------*/
.main{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  width: 50%;
  background-color: #ffffff;
  border: 2px solid black;
}