@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    background-color: rgb(255, 255, 254);

    // Logo
    .contenedorLogo {
      width: 100%;
      height: auto;
      background-color: rgb(255, 255, 255);

      img {
        width: 100%;
        height: 100%;
      }
    }

    // Usuario
    .contenedorUsuario {
      width: 100%;
      background-color: rgb(255, 255, 255);
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 15px;

      img {
        width: 25px;
        margin-left: 4%;
      }
    }

    // Buscador
    .contenedorBuscador {
      width: 100%;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  /*-------------------------------Categoria-----------------------------------------*/

  .menu {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .contenedorCategorias .menu a,
  .menu button {
    flex: 1 1 45%; /* Dos por fila */
  }

  .menu > * {
    flex: none;
    width: 100%; /* Ocupan todo el ancho disponible */
  }

  /*Banner*/
  .contenedorBanner {
    width: 100%;
    margin-left: 0%;
  }

  .main-container {
    flex-direction: column; /* Cambia a columna */
    align-items: center; /* Centra los elementos */
  }

  .banner {
    width: 100%; /* Ocupar todo el ancho */
    text-align: center;
  }

  .products {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el tamaño de las tarjetas */
  }

  /*-------------Pie de Pagina----------------------------------------------------*/
  .pieDePagina {
    flex-direction: column; /* Apila verticalmente las secciones */
    align-items: center;
    text-align: center; /* Centra el texto y contenido */
  }

  .contenedorLogoPiePagina,
  .contenedorInformacion,
  .contenedorAyuda,
  .contenedorRedesSociales {
    width: 90%; /* Aumenta el ancho relativo */
    margin-bottom: 15px; /* Añade espacio entre las secciones */
  }

  .contenedorLogoPiePagina img {
    width: 40%; /* Reduce el tamaño del logo */
  }

  .contenedorProducto {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contenedorImagenesProducto {
      flex-direction: row;
      justify-content: center;
      gap: 5px;

      img {
        width: 25%;
      }
    }

    .contenedorImagenPrincipal {
      img {
        width: 100%;
      }
    }

    .contenedorDetalle {
      text-align: center;
      width: 100%;
    }

    .contenedorTalle {
      justify-content: center;
    }

    .contenedorCantidad {
      flex-direction: column;
      align-items: center;
    }

    .contenedorMetodosPagos {
      text-align: center;
    }

    .contenedorPromociones {
      justify-content: center;
    }

    // Establecer texto más pequeño en pantallas pequeñas
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    a {
      font-size: 0.9rem; // Puedes ajustar este valor según tus necesidades
    }
  }

  .mainRegistro {
    display: flex;
    justify-content: center;
   
    background-color: rgb(255, 255, 255);

    .contenedorFormulario {
      width: 90%;
      margin-top: 75px;
      margin-bottom: 75px;
      
      .contenedorBotonesRegistro {
        width: 70%;
        gap: 10px;
      }
    }
  }

  .encabezadoCarrito {
    flex-direction: column; /* Apila el contenido */
    text-align: center;
    img {
      max-width: 120px; /* Reduce el tamaño del logo */
    }
    .contenedorCompraSegura {
      justify-content: center;
      font-size: 0.8rem;
    }
  }

  .contenedorTextoCarrito {
    padding: 15px; /* Reduce el padding en pantallas pequeñas */
    font-size: 1.2rem; /* Reduce el tamaño del texto */
  }

  table {
    font-size: 14px; /* Reduce el tamaño de fuente */
  }

  td img {
    width: 40px; /* Reduce el tamaño de las imágenes */
  }

}

/* Media Queries */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    gap: 40px;
  }

  .banner {
    flex: 1;
  }

  .products {
    flex: 3;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .product img {
    width: 100%;
    height: 150px;
  }
}
