@media (min-width: 240px) and (max-width: 768px) {
    .main-container {
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
