.contenedorMarcas {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 55px; // Se corrigió el valor de margin-bottom
  display: flex;
  justify-content: space-around;

  img {
    width: 8%;
    height: 40px;
  }
}

.cartelMarcas {
  background-color: #003d80;
  width: 90%;
  height: 50px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  color: white;

  p {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: initial;
    font-variation-settings: "wdth" 100;
    font-size: x-large;
  }
}
